language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI Server Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# CI ㅅㅣㄹ행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - "realblue82@gmail.com"

before_deploy:
  - zip -r springboot-webservice-book
  - mkdir -p deploy
  - mv springboot-webservice-book.zip deploy/springboot-webservice-book.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # Travis repo setting value
    secret_access_key: $AWS_SECRET_KEY #Travis repo setting value
    bucket: springboot-webservice-book-build # s3 bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private # zip access private setting
    local_dir: deploy # before_deploy setting directory
    wait-until-deployed: true
