language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI Server Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

before_deploy:
  - mkdir -p before-deploy # zip에 포함시킬 파일을 담을 디렉토리 생성
  - cd scripts/*.sh before-deploy/
  - cd appspec.yml before-deploy/
  - cd build/libs/*.jar before-deploy/
  - cd before-deploy && zip -r before-deploy * # before-deploy로 이동 후 전체 압축
  - cd ../ && mkdir -p deploy # 상위 디렉토리 이동 후 deploy디렉토리 생성
  - mv before-deploy/before-deploy.zip deploy/springboot_webservice.zip
  #- zip -r springboot_webservice *
  #- mkdir -p deploy
  #- mv springboot_webservice.zip deploy/springboot_webservice.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # Travis repo setting value
    secret_access_key: $AWS_SECRET_KEY #Travis repo setting value
    bucket: springboot-webserivce-book-build # s3 bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private # zip access private setting
    local_dir: deploy # before_deploy setting directory
    wait-until-deployed: true

  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY # Travis repo setting value
    secret_access_key: $AWS_SECRET_KEY # Travis repo setting value
    bucket: springboot-webserivce-book-build    # s3 bucket
    key: springboot_webservice.zip
    bundle_type: zip # 압축 확장자
    application: springboot-webservice-book
    deployment_group: springboot-webservice-book-group
    region: ap-northeast-2
    wait-until-deployed: true

# CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - "realblue82@gmail.com"