language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI Server Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# CI ㅅㅣㄹ행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - "realblue82@gmail.com"
